# Changes here will be overwritten by Copier with the answers you provided
_commit: {{ _copier_conf.vcs_ref_hash }}
_src_path: {{ _copier_conf.src_path }}
author_email: {{ author_email }}
author_name: {{ author_name }}
data_science_packages: {{ data_science_packages }}
dev_tools: {{ dev_tools }}
gradio_app: {{ gradio_app }}
linter: {{ linter }}
package_name: {{ package_name }}
project_name: {{ project_name }}
pytorch_support: {{ pytorch_support }}
python_version: {{ python_version }}
